# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.opendb
*.db-wal
*.db
*.db-shm
*.ipch
.vs/Notus/v17/.suo
*.user
*.recipe
*.ilk
*.log
*.pdb
*.tlog
x64/Debug/Notus.vcxproj.FileListAbsolute.txt
*.idb
*.vsidx
*.lock
